html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

p {
    font-family: sans-serif, Arial, Helvetica,
    'Times New Roman', Times, serif;
    font-weight:300;
}

.bg-highlight{
    background-color:#BBA1D5;
}

.bg-black{
    background-color: #2C2C32;
}

.black-m1{
    background-color: #EFEFF1;
}
.black-m2{
    background-color: #772CE8;
}
.black-m3{
    background-color: #BBA1D5;
}

.black-1d{
    background-color: #0E0E10;
}

.black-2d{
    background-color: #18181B;
}

.black-3d{
    background-color: #1F1F23;
}

.bg-lightshade{
    background-color: #D0D0D8;
}

.bg-teal{
    background-color: rgb(61, 226, 182);
}

.introduction{
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:3rem;
    margin-right: auto;
}

.leading-tight{
    line-height: 1.6;
}

/* .head{
    background-color: #00948E;
    height: 100%;
} */

.head{
    background: linear-gradient(45deg, #f76f02, #2F4858, #9147FF);
    height: 100%;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

    @keyframes gradient{
        /* background position: x% y%; is the position on the screen */
        0%{ 
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }

.head-img{
    background-image: url("./media/pier.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #B1A8B9;
    padding: 10px;
    height: 30px;
    /* width: 100%; */
    /* overflow: hidden; */
    opacity: 0.85;
}

.nav a {
    font-size: 0.8em;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;

}

.nav a:hover{
    font-size: medium;
    color: black;
    opacity: 1;
}

.nav a.active{
    font-size: medium;
    color: black;
    opacity: 1;
}

    @media screen and (max-width: 736px){
        #topNav{
            display: none;
        }
    }

.topNav a{
    float: left;
}

.nav-list{
    list-style-type: none;
    text-align: center;
    color: black;
}
.nav-list-2{
    list-style-type:none;
    margin: auto;
    padding: 0;
    text-align: center;
    z-index: 2;
}


.nav-item{
    /* padding: 0px 10px 0px 10px; */
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    opacity: 0.35;
}

.transparant-3{
    opacity: 0.3;
}

.transparant-5{
    opacity: 0.5;
}

.opacity-75{
    opacity: 0.85;
}

.rotate-5{
    transform: rotate(0.25turn);
}

.center {
    position: absolute;
    top: 50%;
    text-align: center;
}


.flex-container{
    display: flex;
    flex-flow:row;
    justify-content: left;
}

.fl-60{
    flex: 60%;
}

.hidden{
    display: none;
}

.px-8{
    padding-left: 2rem;
    padding-right: 2rem;
}


.mr-2{
    margin-right: 10%;
}

.gameDesc{
    text-align: left;
    margin-left: 10%;
    font-size: 1.2rem;
    margin-right: 15%;
    color: whitesmoke;
}
.gameTitle{
    text-decoration: underline;
    font-size: 3rem;
    color: salmon;
    margin-left: 25%;
    margin-bottom: 1%;
}

.ml-10{
    margin-left: 5%;
}

.-ml-1{
    margin-left: -0.25rem;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content:center;
}


.rounded-box-left{
    border-radius: 5px 50px 50px 5px;
    background: #9147FF;
    /* padding: 30px; */
    /* padding-top: 1rem;
    padding-bottom: 2rem; */
    width: 40%;
    height: 40%;
    margin-top: 15px;

    transition: transform .2s;
}
.rounded-box-left:hover{
    transform:scale(1.5);
}

.zoom {
    border-radius: 5px 50px 50px 5px;
    background: #9147FF;
    /* padding: 30px; */
    /* padding-top: 1rem;
    padding-bottom: 2rem; */
    width: 30%;
    height: 30%;
    margin-top: 15px;
    /* transition: transform .2s; */
    transition: width .5s;
}
.zoom:hover{
    /* transform: scale(1.5);  */
    width: 60%;

    /* transform: scaleX(1.5);
    transform: scaleY(1.5); */
    /* margin: 5%; */
}
.vidAdjustRight:hover{
    width: 90%;
}

.rounded-box-right{
    border-radius: 50px 5px 5px 50px;
    background-color: #9144FF;
    width: 40%;
    height: 40%;
    margin-top: 15px;
    float: right;
}


.vidAdjustRight{
    float: center;
    padding: 5%;
    width: 80%;
    transition: width .2s;
}


@media (min-width: 1024px){
    .lg\:flex {
        display: flex;
    }
    .lg\:intro{
        display:flex;
        width: 35%;
        padding-top: 20%;
    }
}

/* hide play button  */
video::-webkit-media-controls {
    display: none !important;
}