html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* overflow: scroll; */
}

p {
    font-family: sans-serif, Arial, Helvetica,
    'Times New Roman', Times, serif;
    /* font-weight:300; */
    
    line-height: normal;
    letter-spacing: 0.2em;

}

.abt-des{
    /* font-weight: lighter; */
    line-height: 2em;
    letter-spacing: 0.2em;
    /* text-decoration: none; */
    text-align: justify;
    
    margin: 1% 10%;
    text-align: left;
    font-size: 1.2rem;
    color: whitesmoke;
}
.bg-highlight{
    background-color:#BBA1D5;
}

.bg-black{
    background-color: #2C2C32;
    /* background-color: #3E3D43; */
}

.bg-body2{
    background-color: #D0D0D8;
}

.black-m1{
    background-color: #EFEFF1;
}
.black-m2{
    background-color: #772CE8;
}
.black-m3{
    background-color: #BBA1D5;
}

.black-1d{
    background-color: #0E0E10;
}

.black-2d{
    background-color: #18181B;
}

.black-3d{
    background-color: #1F1F23;
}

.bg-lightshade{
    background-color: #D0D0D8;
}
.bg-light{
    background-color: #FFF6ED;
}
.bg-teal{
    background-color: rgb(61, 226, 182);
}

.btn-pdf{
    
    border: solid 1px !important;
    display: inline-block;
    border-radius: 3rem;
    text-align: center;
    padding: 0 3.75em;
    
    font-weight: bold;
    line-height: 4.75em;

    font-size: 0.7em;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
}
.icons{
    font-size: x-large;
}
.icon{
    color: white;
    color: #009574;
    position: relative;
    display: inline-block;
}

.icons a:link{
    text-decoration: none;
}
.icon .icon-text{
    /* visibility: hidden; */
    width: max-content;
    /* color: #FFB5FF; */
    padding: 5px 10px;
    /* font-size: 0.55em; */
    /* margin: 0 5px; */
    font-size: large;
    
    /* background-color: transparent; */
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    
    /* position: relative; */
    position: absolute;
}
.icon:hover{
    color: #FFB5FF;
}
.icon:hover .icon-text{
    visibility: visible;

    /* width: auto; */
}

.input{
    padding: 0 3.75em;
    
    font-weight: bold;
    line-height: 4.75em;

    font-size: 0.7em;
    letter-spacing: 0.25em;
    text-transform: uppercase;

    color: #ffffff !important;

    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
}

.btn.primary{
    background-color: #ffffff;
    color: #312450 !important;
    margin: 2% 5%;
}
.titleColor{
   color: #2F4858;
}

.introduction{
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:3rem;
    margin-right: auto;
}

.leading-tight{
    line-height: 1.6;
}
li{
    line-height: normal;
    letter-spacing: 0.1em;
}
.head-intro{
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    padding: 30px;
    text-align: center;

    letter-spacing: 0.25em;
    line-height: 3em;

    align-self: center;
}


.secTitle{
    text-decoration: underline;
    font-weight: bolder;
    color: #f76f02;
    /* color: #FF5431; */
    /* color: white; */
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.15em;
}


.head{
    background: linear-gradient(45deg, #f76f02, #2F4858, #9147FF);
    height: 70%;
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    display: grid;
}

    @keyframes gradient{
        /* background position: x% y%; is the position on the screen */
        0%{ 
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }

.head-img{
    background-image: url("./media/pier.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.inp-name{

    font-weight: bold;
    line-height: 2em;
    letter-spacing: 0.2em;
    font-size: 2em;
    color: whitesmoke;
}

.inp-text{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.25);
    padding: 0 1em;
    margin: 0 1%;
    height: 2.75em;
    width: 80%;
    color: #efefef;
}
.inp-mess{
    height: auto;
}

.link{
    /* color: #FFB5FF; */
    color: #FFB5FF;
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #B1A8B9;
    padding: 10px;
    height: 30px;
    /* width: 100%; */
    /* overflow: hidden; */
    opacity: 0.85;
}

.foot{
    background-color: #B1A8B9;
    /* background-color: #2C2C32 ;
    opacity: 50%; */
    /* padding: 10px; */
    height: fit-content;
    opacity: 0.85;
}
.foot section ul{
    /* display: flex; */
    justify-content: flex-start;
    flex-wrap: wrap;
}
.copyR{
    font-size: small;
    padding: 0;
}

.foot section ul li{
    list-style-type: none;
    flex: 0 0 50%;
    /* flex: 50%; */
}

.foot section .con-list li{
    list-style-type: none;
    flex: 0 0 50%;
}


/* .foot section ul li:first-child{
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
.foot section ul li{
    border-left: solid 1px rgba(255, 255, 255, 0.25);
} */



.nav a {
    font-size: 0.8em;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;
    color: black;
    opacity: 1;

}

.nav a:hover{
    font-size: medium;
    color: black;
    opacity: 1;
}

.active{
    font-size: medium;
    color: black;
    opacity: 1;
}

.nav a.active{
    font-size: medium;
    color: black;
    opacity: 1;
}

    @media screen and (max-width: 500px){
        #topNav{
            display: none;
        }
        .gameDesc, .abt-des{
            font-size: small !important;
            line-height: 1.5em;
        }
        .secTitle{
            margin-bottom: 0;
            font-size: xx-large;
        }
        
        .gameTitle{
            font-size: x-large !important;
        }
        .res{
            font-size: medium !important;
        }

        .head-intro{
            font-size: 2em !important;
        }

        .icon .icon-text{
            font-size: small;
        }
        .con-list{
            padding: 10px;
            margin: auto;
        }

    }


.align-no{
    align-self: unset;
}

    
.con-list{
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-align: left;
    align-self: unset;
}

.fl-box .con-name{
    /* align-self: flex-start; */
    text-align: start;

}
.con-item{
    text-align: left;
}
.nav-list{
    list-style-type: none;
    text-align: center;
    color: black;
}
.nav-list-2{
    list-style-type:none;
    margin: auto;
    padding: 0;
    text-align: center;
    z-index: 2;
}

.nav-item{
    padding: 0px 15px;
    color: black;
    opacity: 0.35;
}

.transparant-3{
    opacity: 0.3;
}

.transparant-5{
    opacity: 0.5;
}

.opacity-75{
    opacity: 0.85;
}

.rotate-5{
    transform: rotate(0.25turn);
}

.center {
    position: absolute;
    top: 50%;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-flow: row;
    /* justify-content: left; */
}
.flexRevRow{
    flex-flow: row-reverse;
    /* justify-content: right; */
}

.fl-box{
    justify-content: space-around;
    width: 50%;
    align-self: center;
    text-align: center;
}

.fl-col{
    display: flex;
    flex-flow: column;

}
.wid-100{
    width: 100%;
}

.fl-60{
    flex: 60%;
    width: 50%;
}

.conLine{   /*contact line division*/
    border-right: solid 2px #efefef;
    border-color: #9147FF;
}

.hidden{
    display: none;
}

.px-8{
    padding-left: 2rem;
    padding-right: 2rem;
}


.mr-2{
    margin-right: 10%;
}

.gameDesc{
    text-align: left;
    /* margin-left: 10%; */
    font-size: 1.2rem;
    /* margin-right: 10%; */
    /* margin-top: 1%; */
    margin: 1% 10%;
    color: whitesmoke;
}
.gameTitle{
    /* text-decoration: underline; */
    font-size: 2.5rem;
    /* color: salmon; */
    color: #00CFA8;
    margin-bottom: 1%;
    margin-top: 1%;
    margin: 1%;
    text-align: center;
    letter-spacing: 0.2em;
}

.ml-10{
    margin-left: 5%;
}
.mlr-5{
    margin-left: 5%;
    margin-right: 5%;
}

.-ml-1{
    margin-left: -0.25rem;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content:center;
}

.res{
    line-height: 2em;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    /* color: white; */
    color: #00CFA8;
    margin: 0 5%;
    text-align: center;
}


.rounded-box-left{
    border-radius: 5px 50px 50px 5px;
    background: #9147FF;
    height: 30%;
    /* width: 60em; */
    padding: 2%;
}

.rounded-box-right{
    border-radius: 50px 5px 5px 50px;
    background: #9144FF;
    height: 100%;
    /* width: 60em; */
    padding: 2%;
}

.vidAdjustR{
    float: right;
    /* padding: 5%; */
    width: 35em;
}
.width-20{
    width: 20%;
}
.pd-l{
    padding-left: 20em;
}
.width-30{
    width: 30%;
}
.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}
.width-100{
    width: 100%;
}
.fl-40{
    flex: 40%;
}
.adjustL{
    float: left;
    /* padding: 5%; */
    width: 35em;
}
@media  screen and (min-width:1340px) {
    li, p{
        line-height: 2em;
    }
}

@media screen and (min-width:1080px){
    .box-left{
        /* width: 60em; */
    }
}
@media screen and (max-width: 1080px){
    .conLine{
        border-right: none;
        border-bottom: solid 2px #efefef;
        border-color: #9147FF;
        width: 50%;
        margin: 5% 0%;
        align-self: center;
    }
    .foot .conLine{
        border-bottom: none;
        border-right: solid 2px #efefef;
        border-color: #9147FF;
        margin: 0;
        width: 120%;
        align-self: auto;
    }
    .flex-container{
        flex-flow: column;
    }
    .fl-box{
        width: 100%;
    }
    .gameTitle{
        order: 1;
    }
    .head-intro{
        font-size: 3em;
    }
    .foot .flex-container{
        flex-flow: unset;
    }
    /* .foot section .fl-box{
        width: initial;
    } */
    .icon .icon-text{
        /* letter-spacing: normal; */
        font-size: normal;
    }
    .rounded-box-left, .rounded-box-right{
        order: 2;
        background: inherit;
        width: 100%;
    }
    .vidAdjustR, .adjustL{
        float: unset;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:780px) {
    .foot .conLine,
    .conLine{
        border-right: none;
        border-bottom: solid 2px #efefef;
        border-color: #9147FF;
        width: 50%;
        margin: 5% 0%;
        align-self: center;
    }
    .foot .flex-container{
        flex-flow: column;
    }

    .btn.primary{
        /* margin: 5% 0%;   */
        transform: scale(85%);
    }
    .btn-pdf{
        font-size: 0.65em;
    }
    .fl-box{
        width: 100%;
    }
    .rounded-box-left,
    .rounded-box-right{
        padding: 0;
        padding-top: 5%;
    }
    .vidAdjustR, .adjustL{
        width: 100%;
        padding: 0%;
    }

    .icon .icon-text{
        flex-direction: column;
        visibility: unset;
        letter-spacing: normal;
    }
    .foot section ul li{
        flex: 0 0 100%;
    }



}

@media screen and (max-width:740px){

}

/* .zoom {
    border-radius: 5px 50px 50px 5px;
    background: #9147FF;
    width: 30%;
    height: 30%;
    margin-top: 15px;
    transition: width .5s;
} */
.zoom{
    padding: 10px 5px;
    width: 20px;

    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;

    transition: width .5s;
}
.zoom:hover{
    /* transform: scale(1.5);  */
    width: auto;

    /* transform: scaleX(1.5);
    transform: scaleY(1.5); */
    /* margin: 5%; */
}

.vidAdjustRight{
    float: center;
    padding: 5%;
    width: 80%;
    transition: width .2s;
}

.vidAdjustRight:hover{
    width: 90%;
}


@media (min-width: 1024px){
    .lg\:flex {
        display: flex;
    }
    .lg\:intro{
        display:flex;
        width: 35%;
        padding-top: 20%;
    }
}

/* hide play button  */
video::-webkit-media-controls {
    display: none !important;
}